.App {
  font-family: sans-serif;
  text-align: center;
}

.column {
  box-sizing: border-box;
  float: left;
  width: 350px;
  padding: 2px;
  height: 500px;
  margin: 5px;
  border: 2px solid rgb(6, 0, 83);
}

.row:after {
  clear: both;
  margin:1px;
}

.board {
  display: block;
  width: 300px;
  height: auto;
  margin: 10px;
  padding: 10px;
  background-color: rgb(153, 30, 30);
  border: 2px solid rgb(6, 0, 83);
}

.letter-grid {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 1px;
}

.letter-cube {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 2px;
  border: 1px solid rgb(248, 248, 248);
  text-align: center;
  background-color:white;
}

.input-box {
  width: 300px;
  height: auto;
  margin: 10px;
  padding: 10px;
  position: relative;
  display: block;
  border: 2px solid rgb(6, 0, 83);
}

.monitor {
  width: 250px;
  height: auto;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 2px solid rgb(6, 0, 83);
}

input[type="text"] {
  width: 80%;
  height: 40px;
  padding: 5px;
  margin: 30px 0;
  box-sizing: border-box;
  font-size: 18px;
}

.button {
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
}
.rotateBtn {
  background-color: rgb(227, 236, 238);
}
.button:hover {
  background-color: green;
  color: white;
}

.label {
  color: white;
  padding: 8px;
}

.success {color: #4CAF50;} /* Green */
.danger {color: #f44336;} /* Red */
